%h1 Billing form
%h3 Personal Details
%ul.info_list
  %li
    %span Name
    = "#{current_user.firstname} #{current_user.lastname}"
  %li
    %span Email
    = "#{current_user.email}"
  %li
    %span Gender
    = "#{current_user.gender}"    
  %li
    %span User Type
    = "#{current_user.user_type}"
  %li
    %span User ID
    = "#{current_user.id}"        
  %hr    
%h3 Address form
/ = collection_select(:address_book, :user_id, @created_address_book, :id, :get_address_name, :prompt => true)
%p Please fill in your billing address
%form{:id => "confirm_form", :method => "post", :action => "confirm_order"}
  %ul.info_list
    %li
      =label(:post, :name) 
      =text_field(:post, :name, :size => 50)  
    %li
      =label(:post, :address) 
      =text_field(:post, :address, :size => 50)
    %li                                          
      =label(:post, :country) 
      =text_field(:post, :country, :size => 20)    
    %li                                          
      =label(:post, :city) 
      =text_field(:post, :city, :size => 20)       
    %li                                          
      =label(:post, :postcode) 
      =text_field(:post, :postcode, :size => 20)   
  %hr  
  %h3 Items
  %table#order_list_table
    %tr
      %th Order name
      %th Type
      %th Measurement
      %th Quantity
      %th Price
    - @orders.each do |order|
      %tr
        %td.order_feature=@super_order[order]["order_name"]
        %td.order_feature=@super_order[order]["cloth_type"]
        %td.order_feature=@super_order[order]["measurement_field"]["name"]
        %td.order_feature=@super_order[order]["quantity"]
        %td.order_feature=@super_order[order]["price"]
      %input{:type => "hidden", :name => "items[item#{order}]", :value => order}
  = link_to "Go Back", :controller => "cart", :action => "index"
  %input{:type => "submit", :value => "confirm payment"}