%h1 Cart

- if !@super_order.empty?
  %form#order_form{:method => "post", :action => "/cart/billing_form"}
    %table#order_list_table
      %tr
        %th{:width => "20%"} Order Name
        %th{:width => "10%"} Type
        %th{:width => "20%"} Measurement
        %th{:width => "10%"} Quantity
        %th{:width => "10%"} Price
      -@super_order.each_index do |index|
        %tr{:id => "item#{index}"}                                          
          %td.order_feature="#{@super_order[index]["order_name"]}"
          %td.order_feature="#{@super_order[index]["cloth_type"]}"
          %td.order_feature="#{@super_order[index]["measurement_field"]["name"]}"
          %td.order_feature="#{@super_order[index]["quantity"]}"
          %td.order_feature="#{@super_order[index]["price"]}"
          %td.order_option
            %input{:type => "checkbox", :id => "item#{index}", :name => "item#{index}", :value => "#{index}"}
          %td.order_option  
            = link_to "Show", :action => "show", :index => "#{index}"
          %td.order_option  
            %a{:href => "#", :onClick => "delete_item('#{index}')"}Delete
          
    %input{:type => "button", :name => "button", :onClick => "delete_item(this.form)", :value => "Delete items"}
    %input{:type => "submit", :name => "button", :value => "Proceed Payment"}
- else
  %p You have no item in cart.
:javascript
  $(function(){
  })
  
  
