%h1 Your Order
%p Print out this page to view bill overall summary
/.order_overall
%div.content_inner_left.alpha.grid_10  
  %h3 Pesonal Details
  %ul.info_list  
    %li
      %span Name
      = @super_order.name
    %li
      %span Email
      = "#{current_user.email}"
    %li
      %span Gender
      = "#{current_user.gender}"    
    %li
      %span User Type
      = "#{current_user.user_type}"
    %li
      %span User ID
      = "#{current_user.id}"
%div.content_inner_right.omega.grid_10.address_wrapper
  %h3 Order Details         
  %ul.info_list
    %li
      %span Order ID
      = @super_order.id
    %li
      %span Address Name
      = @super_order["address_field"]["name"]
    %li
      %span Address
      = @super_order["address_field"]["address"]
    %li
      %span City
      = @super_order["address_field"]["city"]
    %li
      %span Country
      = @super_order["address_field"]["country"]
    %li
      %span Post Code
      = @super_order["address_field"]["postcode"]
.clear      
%hr      
.all_items
  %h3 Items
  %table#order_list_table
    %tr
      %th Order Name
      %th Type      
      %th Measurement
      %th Fabric           
      %th Quantity
      %th Price
    - @orders.each do |order|
      %tr 
        %td.order_feature=order.order_name
        %td.order_feature=order.cloth_type        
        %td.order_feature=order.measurement_field["name"]           
        %td.order_feature=order.fabric_id
        %td.order_feature=order.volume                
        %td.order_feature=order.price.to_i            
        %td.order_option
          = link_to "Show", :action => "show_item", :id => "#{order.id}"
