- content_tag_for :div, button_color do
  %ul
    %li
      %strong Name:
      =h button_color.name
    %li
      %strong Button color:
      =h button_color.button_color_id
    %li
      %strong Photo:
      =image_tag button_color.photo.url
      
    = link_to 'Show', button_color
    = link_to 'Edit', edit_button_color_path(button_color)
    = link_to 'Destroy', button_color, :confirm => 'Are you sure?', :method => :delete