- semantic_form_for(button_color, :html => {:multipart => true}) do |form|
  = form.input :name
  = form.input :photo, :as => :file
  - if button_color.id
    %label.current_image Current Image
    %div.current_image= image_tag button_color.photo.url(:thumb)
  
  = form.buttons    