%h2 Editing button_color
= render :partial => "form", :locals => {:button_color => @button_color}
%ul
  %li= link_to 'Show', @button_color
  %li= link_to 'Back', button_colors_path
  %li= link_to 'Destroy', @button_color, :confirm => 'Are you sure?', :method => :delete  