%h2 Listing button_colors
- if !@button_colors.empty?
  .button_colors
    = render :partial => "button_color", :collection => @button_colors
  = will_paginate(@button_colors)
- else
  %p There are no button_colors to show yet.
= link_to 'New button_color', new_button_color_path