%h2= "ButtonColor \"#{@button_color.to_param}\""
- content_tag_for :div, @button_color do
  %ul
    %li
      %strong Name:
      =h @button_color.name
    %li
      %strong Button color:
      =h @button_color.button_color_id
    %li
      %strong Photo file name:
      =h @button_color.photo_file_name
    %li
      %strong Photo file size:
      =h @button_color.photo_file_size
    %li
      %strong Photo file type:
      =h @button_color.photo_file_type
      %strong Photo:
      =image_tag @button_color.photo.url
%ul
  %li= link_to 'Edit', edit_button_color_path(@button_color)
  %li= link_to 'Back', button_colors_path