- semantic_form_for(@thread_color, :html => {:multipart => true}) do |form|
  - form.inputs do
    = form.input :name
    = form.input :photo, :as => :file
    - if @thread_color.id
      %label.current_image Current Image
      %div.current_image= image_tag @thread_color.photo.url(:thumb)
    = form.buttons