- content_tag_for :div, thread_color do
  %ul
    %li
      %strong Name:
      =h thread_color.name
    %li
      %strong Photo file name:
      =h thread_color.photo_file_name
    %li
      %strong Photo file type:
      =h thread_color.photo_file_type
    %li
      %strong Photo file size:
      =h thread_color.photo_file_size 
    %li
      %strong Photo:
      =image_tag thread_color.photo.url
    = link_to 'Show', thread_color
    = link_to 'Edit', edit_thread_color_path(thread_color)
    = link_to 'Destroy', thread_color, :confirm => 'Are you sure?', :method => :delete