%h2 Editing thread_color
= render :partial => "form", :locals => {:thread_color => @thread_color}
%ul
  %li= link_to 'Show', @thread_color
  %li= link_to 'Back', thread_colors_path
  %li= link_to 'Destroy', @thread_color, :confirm => 'Are you sure?', :method => :delete  