%h2 Listing thread_colors
- if !@thread_colors.empty?
  .thread_colors
    = render :partial => "thread_color", :collection => @thread_colors
  = will_paginate(@thread_colors)
- else
  %p There are no thread_colors to show yet.
= link_to 'New thread_color', new_thread_color_path