%h2= "ThreadColor \"#{@thread_color.to_param}\""
- content_tag_for :div, @thread_color do
  %ul
    %li
      %strong Name:
      =h @thread_color.name
    %li
      %strong Photo file name:
      =h @thread_color.photo_file_name
    %li
      %strong Photo file type:
      =h @thread_color.photo_file_type
    %li
      %strong Photo file size:
      =h @thread_color.photo_file_size
%ul
  %li= link_to 'Edit', edit_thread_color_path(@thread_color)
  %li= link_to 'Back', thread_colors_path