- semantic_form_for (fabric, :html => {:multipart => true}) do |form|
  - form.inputs do
    = form.input :name
    = form.input :price
    = form.input :type, :as => :select, :collection => ["ShirtFabric", "TrouserFabric", "JacketFabric", "ContrastFabric"]    
    = form.input :fabric_code
    = form.input :fabric_no
    = form.input :photo, :as => :file
    - if fabric.id
      %label.current_image Current Photo
      %div.current_image= image_tag fabric.photo.url(:thumb)
  %hr
  - form.inputs do 
    = form.input :style
    = form.input :color
    = form.input :fabric_book

  = form.buttons
