#account_nav {list-style: none; margin-bottom:10px; height:30px; border-bottom:1px dashed #DDD;}
#account_nav li{float:left; margin:0 5px 0 0;}
.account_block{margin-bottom:30px;}
.account_block h3{margin-bottom:10px;}
.my_account_list{list-style:none; font-size:14px; margin-bottom:10px;} 
.account_block a{
  -webkit-box-shadow: 0px 1px 1px #aaa;
  padding: 5px 20px;
  font-size: 15px;
  color: #fff;
  background: #5488C2;
  -webkit-border-radius: 10px;
  margin: 10px;
}             
.account_block label{
	display:inline-block !important;
	margin: 5px 0px 5px !important;
	width:80px;
	text-align:left;
}
.account_block h5{
	margin-left:10px;   
	font-weight:normal;
	font-size:13px;
	color:#888;
}   
input[type=submit], input[type=button]{
  -webkit-box-shadow: 0px 1px 1px #aaa;
  padding: 5px 20px;
  font-size: 15px;
  color: #fff;
  background: #5488C2;
  -webkit-border-radius: 10px;
  margin: 10px;
}
#my_measurements.account_block label{
	width:80px;
}
ul.my_account_list li{
	list-style:none;	
}
ul.my_account_list li label{
	width:80px;
}           
ul.my_account_list li span{
	display:inline-block;
	text-align:left;
	width:100px;
}
/*table {
}      

table td, table th{
	padding: 15px 10px;
	text-align:center;
	vertical-align: middle;
}
table th{
	width:200px;
	border-bottom:1px dashed #aaa;
}
table td.option{
	padding:10px 2px;
}      */
#new_address_book ul{
	list-style:none;
}                             
#new_address_book ul li{
	margin: 15px 0px;
	margin-left:10px;
}
#new_address_book ul li input[type=text]{
	background-color: #fff; background-image: url(../images/input-bg.png) !important; font-size: 16px;	
	border:1px solid #aaa;	
	width:250px;	
}                                                  
#new_address_book ul li textarea{  
	background-color: #fff; background-image: url(../images/input-bg.png) !important; font-size: 16px;
	width:250px;         
	height:150px;	 
	border:1px solid #aaa;
}                                     
#new_address_book ul li label{  
	padding-left: 7px; 
	font-weight: normal; 
	opacity: 0.75;
	vertical-align: top;
	width:150px;
	font-size: 15px;  
	text-align:left !important; 
}      
#new_address_book #contact_submit{
	position:relative;
	width:100px; 
	float:right;              
	left:-100px;	
}

