ul.info_list{
}
ul.info_list li{
	padding:10px 0px;
	padding-left:30px;
	border-bottom:1px solid #EBEBEB;
}
ul.info_list li span{
	color:#666;
	font-size:1.1em;
	font-weight:bold;
	display:inline-block;
 	width:150px; 
}
#feature_summary{

}
#wizard_summary h5{
	color:#333;
	border-bottom:2px solid #999;
}
#wizard_summary{
	margin-bottom:30px;
}

#feature_summary h6{
	font-size:1.2em;
	border-bottom:1px solid #EBEBEB;
}
#wizard_summary{
	color:#777;
}
#feature_summary span{
	width:100%;
	display:inline-block;
	text-align:center;
}
#wizard_summary label{
	font-size:1.1;
	font-weight:bold;
	color:#555;
}
table#measurement_summary{
	width:280px;
}
ul.feature_list li{
	height:65px;
}
#feature_category_cloth_type_input legend{
	float:left;
}
#feature_category_cloth_type_input li{
	text-align:left;
	border:none;
	float:left;

}
#feature_category_cloth_type_input li input{
	display:inline;
}
#feature_category_cloth_type_input li label{
 	width:auto;
}
