*{
	padding: 0;
	margin: 0;
}

body {
	font-family: serif;
	font-size: 12pt;
	padding: 20px;
}

h1, h2, h3 {
	margin: 4px 0 16px 0;
	border-bottom: 1px solid #aaa;
	color: #aaa;
	padding-bottom: 4px;
}

h1 {
	font-size: 18pt;
}

h2 {
	font-size: 16pt;
}

h3 {
	font-size: 14pt;
}

a {
	color: #8b8b8b;
}

body {
	background-color: transparent;
	font-size: 11pt;
	font-family:sans-serif;
	color:#000000;
}

h2{
	font-size: 14pt;

}
.order_option{
	display: none !important;
}


table, td, th{
	border: 1px solid #ccc;
	border-collapse: collapse;
}

td, th{
	padding: 5px 10px;
}


th{
	color: #fff;
	background: #888;
	font-weight: normal;
}

ul{
	list-style: none;
	margin-left: 0px;
	padding: 0px;
/*	margin-bottom: 20px;*/
}

li{
	margin: 5px 0;
/*	text-transform: capitalize;*/
}

div {
	margin-bottom: 20px;
}

ul li span:first-child{
	display: block;
	width: 180px;
	float: left;
}

.main_barcode{
	float: right;
}