#main { width:960px; margin: 0px auto; border:solid 1px #b2b3b5; -moz-border-radius:10px; padding:20px; background-color:#f6f6f6;}
#header { text-align:center; border-bottom:solid 1px #b2b3b5; margin: 0 0 20px 0; }
fieldset { border:none; }
legend {
  font-size:16px; 
  margin:0px;
  color:#b0232a; 
  font-weight:bold;
  text-transform: capitalize;
  border-bottom: 1px solid #eee;
  display:block;
  width: 98%;
}
label { display:block; margin:15px 0 5px; }
#CreateShirt label{cursor: pointer;}
label span {margin-bottom:10px;}
#content_plain input[type=text], #content_plain input[type=password] { width:300px; padding:5px; border:solid 1px #000;}
.prev, .next { background-color:#b0232a; padding:5px 10px; color:#fff; text-decoration:none;}
.prev:hover, .next:hover { background-color:#000; text-decoration:none;}
.prev { float:left;}
.next { float:right;}

#makeWizard { background-color:#b0232a; color:#fff; padding:5px 10px; text-decoration:none; font-size:18px;}
#makeWizard:hover { background-color:#000;}
form ul{ overflow: hidden; padding-left: 0; }
form ul li {list-style: none; float: left; padding-top: 0; border: 1px solid #ccc;}
form#confirm_form ul li {list-style: none; float: none;width:auto;border:none;min-height:21px;background:none;margin-bottom:5px;}
form span{
  font-size:16px !important;
}

#CreateShirt { background: #06c; border: none; padding: 3px 10px; color: #fff; font-weight: bold; float: right; cursor: pointer; position: relative; top: -2em;}
#container{width:840px;}


form  label{
  display: inline;
  text-align: center;
  margin: 0 !important;
}

form label span{
  font-size: 13px !important;
}

form{
}

/*<<<<<<< HEAD*/
form label span{
  position: absolute;
  z-index: 100;
  display: block;
  width: 136px;
  padding:5px 0px;
  color:#fff;
  text-shadow: none;
  background: rgba(0,0,0,0.4);
  /*	bottom: 0px;
  left: 0;*/
/*=======
#content_plain form label span{
  position: absolute;
  z-index: 100;
  display: block;
  width: 136px;
  padding:5px 0px;
  color:#fff;
  text-shadow: none;
  background: rgba(0,0,0,0.4);
>>>>>>> a22826d918d335e1653c8e5aa4be571ccf639c71*/
}

#choices img{
  position: absolute;
  top: 0px;
}

#choices{
  padding: 10px 0 20px 0;
}

form ul li{
  width: 136px; 
	overflow:hidden;
	min-height:136px;
  height: auto;
  margin: 10px 10px 10px 0;
  position: relative;
  border: 6px solid #e5e5e5;
	background:#fff;
} 

form ul.button_list li{
	width:40px;
	height:40px !important;	
	min-height:30px;
	border: none ;
	overflow:visible;	
}
form ul.button_list li img{
 	width:100%;
	height:100%;
}
form ul.button_thread li, form ul.monogram_thread li{
	width:40px;
	height:40px !important;
	min-height:40px;
	border:none;	
	background:none;
	overflow:visible;	
}
form ul.form_list li{
/*	min-height:50px !important;*/
} 
.highlighted{
  border: 6px solid #F3BE1B;
}
.button_list .highlighted, .button_thread .highlighted, .monogram_thread .highlighted {
	border:none;
}
form ul li input {
  display: none;
}  
ul.form_list, ul.form_list_shopping{
	margin-bottom:0px;
}
ul.form_list li{ 
	display:block;
	float: none !important;
	width: 136px;
	height:50px;
  margin: 10px 10px 10px 0;
  position: relative;  
	border:none !important;
}
ul.form_list_shopping{
	display:block;
	float: none !important;
	width: 300px;
  margin: 10px 10px 10px 0;
  position: relative;  
	border:none !important;	
}
ul.form_list_shopping li{
 	min-height:10px; 
	width:300px; 
	border:none;
	background:none;
}
ul.form_list_shopping li input{
	display:inline-block;
}
ul.form_list li input{
	display:inline-block;
}
#content_plain{
  position: relative;
}

#content_plain .pagination{
  position: absolute;
  top: 132px;
  right: 40px;
}

.pagination .current{
  color: #fff;
  background: #444;
  padding: 4px;
}

.pagination .disabled{
  color: #aaa;
}

.pagination a, .pagination span{
  font-size:12px !important;
  text-shadow: none;
}

#guide{
  padding-bottom: 20px;
  border-bottom: 1px dashed #ddd;
}

#guide li{
  display: block;
  position: relative;
  float: left;
  margin:0px 30px 0 0;
  padding-bottom:10px;
}

#guide li a{
  width: 130px;
  height:50px;
  line-height:40px;
  display: block;
  text-align: center;
  font-size:14px;
  text-shadow: none;
  font-weight:bold;
  background-color:#888;
  color: #fff;	
  background-color:#5488c2;
  -webkit-border-radius: 10px;
  -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
}    
#guide li label{  
  margin-top:0px;
  width: 130px;
  height:50px;
  line-height:40px;
  display: block;
  text-align: center;
  color: #fff;
  font-size:14px;
  text-shadow: none;
  font-weight:bold;
  background-color:#ccc;
  -webkit-border-radius: 10px;
}
#guide li em{
  position: absolute;
  display: block;
  font-size: 16px;
  font-weight: bold;
  height:24px;
  width:24px;
  text-align: center;
  left:48px;
  top: 40px;
  -webkit-border-radius: 5px;
  border: 3px solid #fff;
  background: #ccc;
  color:#fff;
}         
/*#guide li.disabled a, #guide li:hover a{
background-color:#666;
}

#guide li.disabled span, #guide li:hover span{
background-color:#666;
}

#guide li.disabled em, #guide li:hover em{
background-color: #f3be1b;
color: #444;
}*/

#guide li.disabled:hover a, #guide li.disabled a{
  background-color: #ddd;
  cursor: default;
}

#guide li.active a, #guide li:hover a{
  background-color:#9fc254;
}

#guide li.active span, #guide li:hover span{
  background-color:#444;
}

#guide li em, #guide li em{
  background-color: #f3be1b;
  color: #444;
}       

#features_wizard{
/*	padding: 0 20px;*/
}
#features_wizard ul{
	margin-bottom:30px;
}                   
#features_wizard h3{
	margin-bottom:5px;
	font-size:1.2em;
	color:#333;
}
.measurement h3{
  margin-bottom:5px;
}
.measurement input[type=radio]{
  display:none;
}
.measurement ul.measurement_figure{
  margin:0px;
  list-style: none;
}
.measurement ul.measurement_figure li{
  float:left;
  margin:10px;
	min-height:100 !important;
  border: 6px solid #E5E5E5;
  width: auto;
  height: auto !important;
}
.measurement ul.measurement_figure li.highlighted{
  border: 6px solid #F3BE1B;
}                                       
.measurement ul.measurement_figure li label{
  margin-top:0px;
  text-align:center;
  display: block;
}
.confirm{
  position:absolute;
  width:100%;
  height:40px;
  text-align: center;   
  top:50px;
  line-height:40px;
  background-color:rgba(255,255,255,0.5);
  border-top: 1px solid rgba(255,255,255,0.6);
  z-index:1000; 
  display: none;
  color: #444;
}
.no_highlighted li.highlighted .confirm{
	top:30px;
	left:15px;
	border:none;
	width:20px !important;
	height:20px !important;
	display:block !important;
	background:url(../images/main/tick.png);
}

li.highlighted .confirm{
  display: block;
}
/*#steps{
width: 750px;
padding-left:20px;
-webkit-border-radius: 10px;

}*/


#steps { 
  list-style:none; 
  width:100%; 
  overflow:hidden; 
  margin:0px;
  margin-right:10px;
  border-bottom:1px solid #ddd;
  margin-top:29px;
  /*  background: #ddd;*/
  width:150px;
  float:left;
}
#steps li {font-size:18px; float:left; color:#777; cursor: pointer;}
#steps li:hover {color: #666}
#steps li{
  display: block;
  width:100%;
  text-transform: uppercase;
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
  position:relative;
  -webkit-border-radius: 5px;
  margin:2px 0;
	background:#CCC;
}

#steps li em{
  display: block;
  font-size: 14px;
  font-weight: bold;
  height:20px;
  width:20px;
  text-align: center;
  float:left;
  -webkit-border-radius: 5px;
  border: 3px solid #fff;
  background: #F3BE1B;
  color:#333;
  margin:0 4px;
}
#steps li span{
  display: block;
  font-size: 12px;
  line-height:26px;
  height:26px;
  font-weight: bold;
  text-shadow: none;
  padding-left:0px;
  float:left;
  width:110px;
} 


#steps li.selected{
  color:#fff;
  background: #5488C2;
}       


#features_wizard form{
  float:left;
/*  width:640px;*/
	width:800px;
}


p.next_step a{
  -webkit-box-shadow: 0px 1px 2px #ccc;
  padding: 8px 20px;
  font-size: 20px;
  color: #fff;
  background: #5488C2;
  -webkit-border-radius: 10px;
  margin: 10px;
}

p.next_step a.disabled{
  background: #ccc;
}

#steps li.current {
  color:#fff !important;
  background:#9FC254 !important;
}

#new_measurement p.next_step{
  margin-top: 30px;
}    
#features_summary h2{
	margin:20px 0px 3px 0px;
}                  
#wizard_summary h5{
 border-bottom:1px solid #999; 
}
#wizard_summary h6{
	margin-bottom:5px;
	color:#33;
}  
#wizard_summary p{
	margin:0px;
}
#wizard_summary img{
	border:1px solid #ccc;    
	background-color:#fff;	
}
ul.feature_list{
	margin-left:0px;
	padding-left:0px;
	list-style: none;
	border-bottom:2px solid #aaa
}  
table#measurement_summary td{
	
}
ul.feature_list li{
	height:auto;
	padding-left:0px;
	margin-left:0px;              
	margin-top:10px; 
	margin-bottom:10px;
	padding-top:10px;
	border-top:1px dashed #ccc;
}
.category_head{
	
}   
.summary{
/*	border-bottom:1px solid #999;*/
}  
.features{
	margin-bottom:20px;
}
.clear{
	clear:both;
}
.section{
	margin-bottom:20px;
}    
.wizard_shirt, .wizard_suit, .wizard_trousers{
	height:250px;
	width:auto;
	border:2px solid #BBB;                      
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
}
.wizard_shirt{
	background:url(../images/main/design_shirt.png);
}
.wizard_suit{
	background:url(../images/main/design_suit.png);	
}
.wizard_trousers{
	background:url(../images/main/design_trousers.png);	
}
#wizard_trousers_wrapper{
	margin-right:0px;
}
section#wizard_man, section#wizard_woman{
	display:block;
	margin-bottom:30px;
}
section#wizard_man h6 , section#wizard_woman h6{
	font-size:1.2em;
	color:#333; 
	background:#EEE;
	text-align:center;
	line-height:50px;
	height:50px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;	
	border:2px solid #CCC;
	
}