<h2>Edit account</h2>
<% form_for resource_name, resource, :url => registration_path(resource_name), :html => { :id => "account_form", :method => :put } do |f| -%>
  <div class="content_inner_left alpha grid_10">                                                                                             
  <p><%= f.label :email %></p>
  <p><%= f.text_field :email %></p>

  <p><%= f.label :password %><i class="notice">(new password)</i></p>
  <p><%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation %></p>
  <p><%= f.password_field :password_confirmation %></p>

  <p class="notice"><%= f.label :current_password %> <i class="notice">(use current password to confirm change)</i></p>
  <p><%= f.password_field :current_password %></p>
  <%= f.error_messages %>  
  </div>
  <div class="content_inner_right omega grid_10">
  <p><%= f.label :firstname %></p>
  <p><%= f.text_field :firstname %></p>

  <p><%= f.label :lastname %></p>
  <p><%= f.text_field :lastname %></p>

  <p><%= f.label :gender %></p>
  <p><%= f.text_field :gender %></p>

  <p><%= f.submit "Update" %></p>
  </div>
<% end -%>

