<h1>Sign up</h1>
<% form_for resource, :url => registration_path(resource_name) do |f| -%>
<%= f.error_messages %>
<div class="content_inner_left alpha grid_10">
  <p><%= f.label :email %></p>
  <p><%= f.text_field :email %></p>

  <p><%= f.label :password %></p>
  <p><%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation %></p>
  <p><%= f.password_field :password_confirmation %></p>

  <p><%= label :address_book, :address %></p>
  <p><%= text_field :address_book, :address %></p>
  
  <p><%= label :address_book, :city %></p>
  <p><%= text_field :address_book, :city %></p>
  
  <p><%= label :address_book, :country %></p>
  <p><%= text_field :address_book, :country %></p>
  
  <p><%= label :address_book, :postcode %></p>
  <p><%= text_field :address_book, :postcode %></p>
  
</div>  
<div class="content_inner_right omega grid_10">  
  <p><%= f.label :firstname %></p>
  <p><%= f.text_field :firstname %></p>

  <p><%= f.label :lastname %></p>
  <p><%= f.text_field :lastname %></p>

  <p><%= f.label :gender %></p>
  <p><%= f.select(:gender, ["male", "female"])%></p>
  
  <p><%= f.label :user_type %></p>
  <p><%= f.select(:user_type, ["reseller", "customer"])%></p>

  <p><%= f.submit "Sign up" %></p>               
  </div>                              
<% end -%>                                       

<%#- render :partial => "shared/devise_links" %>
<div class="clear"></div>
