.content_inner_left.alpha.grid_11
  %h3 Leave us a massage:
  -if @error
    %p.error= @error
  %form{:id => "wufoo_form", :method=>"POST", :action=>"#"}
    %ul
      - semantic_fields_for :contact do |contact|
        = contact.input @fields[1]["ID"], :as=>:string, :label => @fields[1]["Title"], :input_html => {:class=>"required"}
        = contact.input @fields[2]["ID"], :as=>:email, :label => @fields[2]["Title"], :input_html => {:class=>"required email"}
        = contact.input @fields[3]["ID"], :as=>:phone, :label => @fields[3]["Title"], :input_html => {:class=>"required"}
        = contact.input @fields[4]["ID"], :as=>:text, :label => @fields[4]["Title"], :input_html => {:class=>"required"}
        = contact.commit_button :label => "Submit"
.content_inner_right.omega.grid_9
  %h3 Contact us directly. 
  %ul.contact_info_list
    %li
      %img{:src => '../images/main/icon-phone-trans.png'}
      %span Tel: (+662)318-2650-1    
    %li
      %img{:src => '../images/main/icon-mail-trans.png'}
      %span Email: peter.srikuruwarn@tailormaker.com
      
      
:javascript
  $(function(){
    $("#wufoo_form").validate();
  })