.content_inner_left.alpha.grid_9
  %h1 Why <span class="emphasis"> tailormaker ? </span>
  %p 
    We are a unique premier factory in Thailand with the rare capability of outfit cutting of all of out many fabrics. We are not a bulk re-seller and  therefore confident of every suit we deliver to each of our many global customers.
  %h1 We're <span class="emphasis"> professional. </span>
  %p 
    We are a unique premier factory in Thailand with the rare capability of outfit cutting of all of out many fabrics. We are not a bulk re-seller and  therefore confident of every suit we deliver to each of our many global customers.    
    / = link_to '<img src="images/main/btn-getyourshirt.png"', :controller => "wizard"
  %a{:href => '/wizard'}
    %img{:src => 'images/main/btn-getyourshirt.png'}
.content_inner_right.grid_11.omega
  %img{:id => 'grid_cloths', :src => 'images/grid-cloths.png'}  

