<h1>Editing order</h1>

<% form_for(@order) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :fabric_id %><br />
    <%= f.text_field :fabric_id %>
  </p>
  <p>
    <%= f.label :measurement_id %><br />
    <%= f.text_field :measurement_id %>
  </p>
  <p>
    <%= f.label :feature_field %><br />
    <%= f.text_area :feature_field %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @order %> |
<%= link_to 'Back', orders_path %>