<h2>Listing orders</h2>

<table class="data_list">
  <tr>
    <th>Order ID</th>
    <th>User Name</th>
    <th>Address Name</th>
    <th>Quantity</th>
  </tr>
<% @super_orders.each do |order| %>
  <% @user = get_user(order.user_id) %>
  <tr>
    <td><%=h order.id %></td>
    <td><%=h order.name %></td>
    <td><%=h order.address_field["name"] %></td>
    <td><%=h order.order_id_field.count %></td>
    <td><%= link_to 'Show', :controller => "orders", :action => "show_order", :id => order%></td>
  </tr>
<% end %>
</table>
