<div id="wizard_summary">
  <h2>Item Summary</h2>
    <% unit_price = 0%>
    <div id="feature_summary" class="grid_6">
      <h5>Features Infomation</h5>    
      <% @features.each do |feature_category_id, feature_info| %>
        <% category = get_category(feature_category_id) %>
        <% features = get_feature(feature_info) %>        
        <div class="category_head">
        <h6><%=category.name.capitalize%></h6>
        <ul class="feature_list">        
        <% features.each do |key, value| %>
          <li>
          <% if key == "feature" %>
            <div class="grid_4 alpha"><label><%= value.name %></label><p><%= value.price %> $</p></div>
            <div class="grid_2 omega"><%= image_tag(value.photo(:small_thumb))%></div>
            <% unit_price += value.price.to_i %>             
          <% elsif key == "text" %>            
            <div class="grid_3 alpha"><label><%= "monogram" %></label></div>
            <div class="grid_3 omega"><span><%= "#{value.name}" %></span></div>            
          <% else %>
            <div class="grid_4 alpha"><label><%= value.name %></label><p><%= value.price %> $</p></div>
            <div class="grid_2 omega"><%= image_tag(value.photo(:small_thumb))%></div>
            <% unit_price += value.price.to_i %>                         
          <% end %>
          <div class="clear"></div>                                                     
          </li>
        <% end %>
        </ul>        
        </div>
      <% end %>
    </div>         
    <div class="grid_5">
    <h5>Fabric Information</h5>
    <%= image_tag @fabric.photo.url(:small_thumb) %>
    <span><%= @fabric.name %></span>
    <br /><br />
    <h5>Measurement Information</h5>
    <table id="measurement_summary">       
    <% @measurement.each do |key,value| %> 
      <tr>
        <td><label><%= key.gsub("_", " ").capitalize %></label></td>
        <td><%= value %></td>
      </tr>
    <% end %>
    </table>
    <div class="quantity">
      <h5>Order Quantity</h5>
      <div class="grid_3 alpha"><label>Quantity</label></div>
      <div class="grid_2 omega"><span><%= @quantity %></span></div>
    </div>
    <div class="summary">
      <div class="grid_3 alpha"><label>Total Price:</label></div>
      <div class="grid_2 omega">$<span id="unit_price"><%= @total_price %></span></div>
    </div>
    </div>
    <div class="clear"></div>
</div>

<span class="clear">&nbsp;</span>