=image_tag "/barcode/#{@super_order.barcode_string}", :class=>"main_barcode"
.customer_detail
  %h2 Customer Details
  %ul.info_list  
    %li
      %span User ID:
      %span= "#{@user.id}"  
    %li
      %span Name:
      %span= @super_order.name
    %li
      %span Email:
      %span= "#{@user.email}"
    %li
      %span Gender:
      %span= "#{@user.gender}"    
    %li
      %span User Type:
      %span= "#{@user.user_type}"
.billing_detail
  %h2 Billing Details         
  %ul.info_list
    %li
      %span Order ID:
      %span= @super_order.id
    %li
      %span Address Name:
      %span= @super_order["address_field"]["name"]
    %li
      %span Address:
      %span= @super_order["address_field"]["address"]
    %li
      %span City:
      %span= @super_order["address_field"]["city"]
    %li
      %span Country:
      %span= @super_order["address_field"]["country"]
    %li
      %span Post Code:
      %span= @super_order["address_field"]["postcode"]
.clear      
.all_items
  %h2 Items
  %table#order_list_table.data_list
    %thead  
      %tr
        %th Order Name
        %th Type      
        %th Measurement
        %th Fabric           
        %th Quantity
        %th Price
        %th Barcode
    %tbody        
      - @orders.each do |order|
        %tr 
          %td.order_feature=order.order_name
          %td.order_feature=order.cloth_type        
          %td.order_feature=order.measurement_field["name"]           
          %td.order_feature=order.fabric_id
          %td.order_feature=order.volume                
          %td.order_feature=order.price.to_i
          %td.barcode
            =image_tag "/barcode/#{order.barcode_string}", :class=>"main_barcode"
          %td.order_option
            = link_to "Show", :action => "show", :id => "#{order.id}"