<%= stylesheet_link_tag "wizard", :media => "screen" %>    
<h1>Update your measurement</h1>
<div class="measurement">
<% form_for @measurement, :url=> "/measurements/update" do |f| %>
<%= raise @measurement.inspect %>
<div class="content_inner_left alpha grid_10">
<%= render :partial => "layouts/measurement_upper.html.haml", :locals => {:f => f} %>                            
</div>
<div id="selection" class="content_inner_right omega grid_10">
<h3>Other details</h3>
<p>
  <%= f.label :height_feet %><br />
  <%= f.text_field :height_feet, :class => "required number" %>
</p>
<p>
  <%= f.label :weight_lb %><br />
  <%= f.text_field :weight_lb, :class => "required number" %>
</p>
<h3>Shoulder</h3>
<ul id="measurement_shoulder" class="measurement_figure">
  <li>
    <img alt="Men_shoulders_square" src="/system/photos/1/small/men_shoulders_square.gif?1301392822" />
    <%= f.label :Square %>
    <%= radio_button("measurement", "shoulder", "Square",{:class => "required"}) %>
  </li>                      
  <li>
    <img alt="Men_shoulders_average" src="/system/photos/2/small/men_shoulders_average.gif?1301393399" />
    <%= f.label :Average %>
    <%= radio_button("measurement", "shoulder", "Average",{:class => "required"}) %>
  </li>
  <li>
    <img alt="Men_shoulders_average" src="/system/photos/2/small/men_shoulders_average.gif?1301393399" />
    <%= f.label :Sloping %>
    <%= radio_button("measurement", "shoulder", "Sloping",{:class => "required"}) %>
  </li> 
</ul>   
<h3>Chest</h3>
<ul id="measurement_chest" class="measurement_figure">
  <li>
    <img alt="Men_chest_muscular" src="/system/photos/1/small/men_chest_muscular.gif?1301394083" />
    <%= f.label :Muscular %>
    <%= radio_button("measurement", "chest", "Muscular" ,{:class => "required"}) %>
  </li>                      
  <li>
    <img alt="Men_chest_average" src="/system/photos/2/small/men_chest_average.gif?1301394262" />
    <%= f.label :Average %>
    <%= radio_button("measurement", "chest", "Average",{:class => "required"}) %>
  </li>
  <li>
    <img alt="Men_chest_large" src="/system/photos/3/small/men_chest_large.gif?1301394275" />
    <%= f.label :Large %>
    <%= radio_button("measurement", "chest", "Large",{:class => "required"}) %>
  </li> 
</ul>   
<h3>Body Shape</h3>
<ul id="measurement_body_shape" class="measurement_figure">
  <li>
    <img alt="Men_body_flat" src="/system/photos/1/small/men_body_flat.gif?1301399884" />
    <%= f.label :Flat %>
    <%= radio_button("measurement", "body_shape", "Flat",{:class => "required"}) %>
  </li>                      
  <li>
    <img alt="Men_body_average" src="/system/photos/2/small/men_body_average.gif?1301400010" />
    <%= f.label :Average %>
    <%= radio_button("measurement", "body_shape", "Average",{:class => "required"}) %>
  </li>
  <li>
    <img alt="Men_body_large" src="/system/photos/3/small/men_body_large.gif?1301400107" />
    <%= f.label :Large %>
    <%= radio_button("measurement", "body_shape", "Large",{:class => "required"}) %>
  </li> 
</ul>   

<p class="next_step">
  <%= f.submit 'Update Measurement' %>
</p>       
</div>  
<div class="clear" />            
</div>  
<% end %>               

<script text="text/javascipt">
$(document).ready(function(){
  init_measurements();
});
</script>
