<h1>Your measurements</h1>
<div class="setting">
<table id="measurement_table">
  <tr>
    <th>Book's name'</th>
    <th>Weight</th>
    <th>Height</th>
  </tr>

<% @measurements.each do |measurement| %>
  <tr>
    <td><%=h measurement.name %></td>
    <td><%=h measurement.height_inches %></td>
    <td><%=h measurement.weight_lb %></td>
    <td><%= link_to 'Edit', edit_measurement_path(measurement) %><%= link_to 'Delete', measurement, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= link_to ('Create new measurement',{:controller => "account", :action=>"measurement_new"})%>
</div>
