<%= stylesheet_link_tag "wizard", :media => "screen" %>    
<div class="measurement">
<% form_for @measurement, :url=> "/measurements/create" do |f| %>
<div class="content_inner_left alpha grid_10">

<p>
  <%= f.label :"name of the person who has the measurement below" %><br />
  <%= f.text_field :name, :class => "required"%>
</p>
<p>
  <%= f.label :neck_circum %><br />
  <%= f.text_field :neck_circum, :class => "required number" %>
</p>
<p>
  <%= f.label :shoulder_width %><br />
  <%= f.text_field :shoulder_width, :class => "required number" %>
</p>
<p>
  <%= f.label :chest_circum %><br />
  <%= f.text_field :chest_circum, :class => "required number" %>
</p>
<p>
  <%= f.label :front_armhole %><br />
  <%= f.text_field :front_armhole, :class => "required number" %>
</p>
<p>
  <%= f.label :back_armhole %><br />
  <%= f.text_field :back_armhole, :class => "required number" %>
</p>
<p>
  <%= f.label :waist_circum %><br />
  <%= f.text_field :waist_circum, :class => "required number" %>
</p>
<p>
  <%= f.label :hip_circum %><br />
  <%= f.text_field :hip_circum, :class => "required number" %>
</p>
<p>
  <%= f.label :shirt_length %><br />
  <%= f.text_field :shirt_length, :class => "required number" %>
</p>
<p>
  <%= f.label :sleeve_length %><br />
  <%= f.text_field :sleeve_length, :class => "required number" %>
</p>
<p>
  <%= f.label :armhole_circum %><br />
  <%= f.text_field :armhole_circum, :class => "required number" %>
</p>
<p>
  <%= f.label :bicep_circum %><br />
  <%= f.text_field :bicep_circum, :class => "required number" %>
</p>
<p>
  <%= f.label :wrist_circum %><br />
  <%= f.text_field :wrist_circum, :class => "required number" %>
</p>
<p>
  <%= f.label :height_feet %><br />
  <%= f.text_field :height_feet, :class => "required number" %>
</p>
<p>
  <%= f.label :height_inches %><br />
  <%= f.text_field :height_inches, :class => "required number" %>
</p>
<p>
  <%= f.label :weight_lb %><br />
  <%= f.text_field :weight_lb, :class => "required number" %>
</p>                               
</div>
<div id="selection" class="content_inner_right omega grid_10">
<h3>Shoulder</h3>
<ul class="measurement_figure">
  <li>
    <img alt="Men_shoulders_square" src="/system/photos/1/small/men_shoulders_square.gif?1301392822" />
    <%= f.label :Square %>
    <%= radio_button("measurement", "shoulder", "Square",{:class => "required"}) %>
  </li>                      
  <li>
    <img alt="Men_shoulders_average" src="/system/photos/2/small/men_shoulders_average.gif?1301393399" />
    <%= f.label :Average %>
    <%= radio_button("measurement", "shoulder", "Average",{:class => "required"}) %>
  </li>
  <li>
    <img alt="Men_shoulders_average" src="/system/photos/2/small/men_shoulders_average.gif?1301393399" />
    <%= f.label :Sloping %>
    <%= radio_button("measurement", "shoulder", "Sloping",{:class => "required"}) %>
  </li> 
</ul>   
<h3>Chest</h3>
<ul class="measurement_figure">
  <li>
    <img alt="Men_chest_muscular" src="/system/photos/1/small/men_chest_muscular.gif?1301394083" />
    <%= f.label :Muscular %>
    <%= radio_button("measurement", "chest", "Muscular" ,{:class => "required"}) %>
  </li>                      
  <li>
    <img alt="Men_chest_average" src="/system/photos/2/small/men_chest_average.gif?1301394262" />
    <%= f.label :Average %>
    <%= radio_button("measurement", "chest", "Average",{:class => "required"}) %>
  </li>
  <li>
    <img alt="Men_chest_large" src="/system/photos/3/small/men_chest_large.gif?1301394275" />
    <%= f.label :Large %>
    <%= radio_button("measurement", "chest", "Large",{:class => "required"}) %>
  </li> 
</ul>   
<h3>Body Shape</h3>
<ul class="measurement_figure">
  <li>
    <img alt="Men_body_flat" src="/system/photos/1/small/men_body_flat.gif?1301399884" />
    <%= f.label :Flat %>
    <%= radio_button("measurement", "body_shape", "Flat",{:class => "required"}) %>
  </li>                      
  <li>
    <img alt="Men_body_average" src="/system/photos/2/small/men_body_average.gif?1301400010" />
    <%= f.label :Average %>
    <%= radio_button("measurement", "body_shape", "Average",{:class => "required"}) %>
  </li>
  <li>
    <img alt="Men_body_large" src="/system/photos/3/small/men_body_large.gif?1301400107" />
    <%= f.label :Large %>
    <%= radio_button("measurement", "body_shape", "Large",{:class => "required"}) %>
  </li> 
</ul>   

<p class="next_step">
  <%= f.submit 'Create Measurement' %>
</p>       
</div>  
<div class="clear" />            
</div>  
<% end %>               

<script text="text/javascipt">
$(document).ready(function(){
  init_measurements();
})
</script>
