<div class="setting">
<h1>All Address books</h1>
<div class="data_list">
<ul id="address_books_list">
<% @address_books.each do |address_book| %>
  <li>
    <div><h4>Name</h4><span><%=h address_book.name %></span></div>
    <div><h4>Address</h4><span><%=h address_book.address %></span></div>
    <div><h4>Country</h4><span><%=h address_book.country %></span></div>
    <div><span><%= link_to 'Edit', edit_address_book_path(address_book) %><%= link_to 'Delete', address_book, :confirm => 'Are you sure?', :method => :delete %><span></div>
<% end %>
</ul>
</div>
<br />
<div class="new_item">
  <%= link_to 'New address_book', new_address_book_path %>
</div>
</div>                                       
