<p>
  <b>Address:</b>
  <%=h @address_book.address %>
</p>

<p>
  <b>City:</b>
  <%=h @address_book.city %>
</p>

<p>
  <b>Country:</b>
  <%=h @address_book.country %>
</p>

<p>
  <b>Postcode:</b>
  <%=h @address_book.postcode %>
</p>


<%= link_to 'Edit', edit_address_book_path(@address_book) %> |
<%= link_to 'Back', address_books_path %>