- semantic_form_for (feature_category) do |form|
  - form.inputs do
    = form.input :name
    = form.input :translate
    = form.input :cloth_type, :as => :check_boxes, :collection => get_cloth_type
  = form.buttons