<div class="content_inner_left alpha grid_12">
<h1>Address Book</h1>     
<table>
  <tr>
    <th>Address</th>
    <th>City</th>
    <th>Country</th>
    <th>Postcode</th>
  </tr>
<% @address_books.each do |address_book| %>
  <tr>    
    <td><%=h address_book.address %></td>
    <td><%=h address_book.city %></td>
    <td><%=h address_book.country %></td>
    <td><%=h address_book.postcode %></td>
    <td class="option"><%= link_to 'Edit', edit_address_book_path(address_book) %></td>
    <td class="option"><%= link_to 'Delete', address_book, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %> 
</table>
</div>
<div class="content_inner_right omega grid_8">
<h1>Update your address</h1>

<% form_for(@address_book) do |f| %>
  <ul>
  <li>
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </li>
  <li>
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </li>
  <li>
    <%= f.label :country %><br />
    <%= f.text_field :country %>
  </li>
  <li>
    <%= f.label :postcode %><br />
    <%= f.text_field :postcode %>
  </li>
  <li>
    <%= f.submit 'Create' %>
  </li>
  </ul>
<% end %>
<%-# link_to 'New address_book', new_address_book_path %> 
</div>
