%div.content_inner_left.alpha.grid_10
  #my_account.account_block
    %h3 My Account
    %ul.my_account_list
      %li
        %label Name:
        %span=current_user.firstname + current_user.lastname
      %li
        %label Email: 
        %span=current_user.email
      %li
        %label Gender:
        %span=current_user.gender    
      %li
        %label Type:
        %span=current_user.user_type
    = link_to "Account Setting", "/users/edit"
  #my_address.account_block    
    %h3 My Address              
    / = raise @address_book.inspect
    %ul.my_account_list    
      - if @address_book != nil   
        - @address_book.each do |address|
          %li 
            %label Name:
            %span=address.name 
            %span= link_to 'Edit', edit_address_book_path(address)
      - else
        %h5 Create your address
    = link_to "Address Setting", :controller => "address_books"
    
%div.content_inner_right.omega.grid_10
  #my_measurements.account_block
    %h3 My measurements   
    %ul.my_account_list    
      - if @measurement != nil
        - @measurement.each do |measurement|
          %li
            %label Name:
            %span=measurement.name 
            %span= link_to 'Edit', edit_measurement_path(measurement)
      - else
        %h5 Create you measurement
    = link_to "Measurement Setting", :controller => "measurements"
    / = link_to "Measurement", :controller => "measurements", :id => check_id(@measurement), :action => check_action(@measurement)
.clear