<h1>Your measurements</h1>

<table>
  <tr>
    <th>Book's name'</th>
    <th>Weight</th>
    <th>Height</th>
  </tr>

<% @measurements.each do |measurement| %>
  <tr>
    <td><%=h measurement.name %></td>
    <td><%=h measurement.height_inches %></td>
    <td><%=h measurement.weight_lb %></td>
    <td><%= link_to 'Show', measurement %></td>
    <td><%= link_to 'Edit', edit_measurement_path(measurement) %></td>
    <td><%= link_to 'Destroy', measurement, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to ('Create measurement',{:controller => "account", :action=>"measurement_new"})%>
