<h1>Listing order</h1>
<% if !@orders.empty? %>
<table id="order_list_table">
  <tr>    
    <th>Order id</th>
    <th>Address</th>    
    <th>Items</th>    
    <th>Time</th>        
  </tr>
<% @orders.each do |order| %>
  <tr>
    <td class="order_feature"><%=order.id %></td>
    <td class="order_feature"><%=order.address_field["name"] %></td>    
    <td class="order_feature"><%=order.order_id_field.count %></td>
    <td class="order_feature"><%=order.created_at %></td>
    <td class="order_option"><%=link_to 'Show',  :controller => "account", :action => "show_sub_order", :id => order  %></td>
  </tr>
<% end %>
<% else %>
  <p> You have placed no orders </p>
<% end %>
</table>
