- content_tag_for :div, fabric_types do
  %ul
    %li
      %strong Name:
      =h fabric_types.name
    = link_to 'Show', fabric_types
    = link_to 'Edit', edit_fabric_types_path(fabric_types)
    = link_to 'Destroy', fabric_types, :confirm => 'Are you sure?', :method => :delete