%h2 Editing fabric_types
= render :partial => "form", :locals => {:fabric_types => @fabric_types}
%ul
  %li= link_to 'Show', @fabric_types
  %li= link_to 'Back', fabric_types_path
  %li= link_to 'Destroy', @fabric_types, :confirm => 'Are you sure?', :method => :delete  