%h2 Listing fabric_types
- if !@fabric_types.empty?
  .fabric_types
    = render :partial => "fabric_types", :collection => @fabric_types
  = will_paginate(@fabric_types)
- else
  %p There are no fabric_types to show yet.
= link_to 'New fabric_types', new_fabric_types_path