%h2= "FabricTypes \"#{@fabric_types.to_param}\""
- content_tag_for :div, @fabric_types do
  %ul
    %li
      %strong Name:
      =h @fabric_types.name
%ul
  %li= link_to 'Edit', edit_fabric_types_path(@fabric_types)
  %li= link_to 'Back', fabric_types_path