%table.data_list
  %thead
    %tr
      %th Code
      %th # of Fabrics
  %tbody
    - @fabric_books.each do |fabric_book|
      %tr
        %td=h fabric_book.fabric_book_code
        %td=h fabric_book.fabrics.size