%h2 Editing fabric_book
= render :partial => "form", :locals => {:fabric_book => @fabric_book}
%ul
  %li= link_to 'Show', @fabric_book
  %li= link_to 'Back', fabric_books_path
  %li= link_to 'Destroy', @fabric_book, :confirm => 'Are you sure?', :method => :delete  