%h2 Fabric Books
- if !@fabric_books.empty?
  .fabric_books
    = render :partial => "fabric_book"
  = will_paginate(@fabric_books)
- else
  %p There are no fabric_books to show yet.
  
  
  
- content_for :sub_menu do
  %li= link_to 'New Fabric Book', new_fabric_book_path, :class=>"add_link"

