%h2= "FabricBook \"#{@fabric_book.to_param}\""
- content_tag_for :div, @fabric_book do
  %ul
    %li
      %strong Fabric book code:
      =h @fabric_book.fabric_book_code
%ul
  %li= link_to 'Edit', edit_fabric_book_path(@fabric_book)
  %li= link_to 'Back', fabric_books_path