%ul                                                      
  - for fabric in @fabrics                                          
    - if @feature_info != nil              
      - is_checked = (@feature_info["fabric"] == fabric.id.to_s)
    %li{:class => is_checked && "highlighted"}
      %label{ :class => "confirm"} Selected
      %label{ :for => "fabric#{fabric.id}" }
        %span= fabric.name.capitalize
        %img{ :src => fabric.photo.url(:thumb)}	
      %input{ :name => "fabric", :type => "radio", "id" => "fabric" + fabric.id.to_s, :value=> "fabric_#{fabric.id}", :checked=>is_checked} 