%form     
	%ul
		- for fabric in @fabrics
			- if @fabric != nil
				- is_checked = (fabric.id == @fabric.id)
			%li{:class => is_checked && "highlighted"}
				%label{ :class => "confirm"} Selected
				%label{ :for => "fabric#{fabric.id}"}
					%span= fabric.name.capitalize
					%img{ :src => fabric.photo.url(:thumb)}	
				%input{ :name => "fabric", :type => "radio", "id" => "fabric" + fabric.id.to_s, :value=>fabric.id, :checked => is_checked}
		= will_paginate @fabrics, :inner_window => 4


:javascript
	$(document).ready(function() {
	  init_ajax_fabrics();
	});