= stylesheet_link_tag "wizard", :media => "screen"
#features_wizard
  %form#CreateForm{ :action => "/wizard/choose_measurement", :method=>"get" }
    %input{:type=>"hidden", :name=> "fabric", :value => @fabric}                  
    - for feature_category in @feature_categories                             
      - is_invalid = !check_feature_valid(feature_category.name)                
      %fieldset{ :id => feature_category.name, :class => is_invalid && "invalid"}
        %legend= feature_category.name
        %ul{:class => feature_category.name}
          - for feature in feature_category.features
            - feature_info = @features.has_key?("feature_category_#{feature_category.id}") ? @features["feature_category_#{feature_category.id}"] : Hash.new
            - is_checked = feature_info["feature"] == feature.id.to_s
            - if feature.name == $no_monogram || feature.name == $no_contrast
              - is_nofeature = true
            %li{ :class => [is_checked && "highlighted", is_nofeature && "noFeatureUsed"]}
              - is_nofeature = nil
              %label{ :class => "confirm"} Selected
              %label{ :for => "feature#{feature.id}"}
                %span
                  = feature.name.capitalize
                %img{ :width => "100%", :src => feature.photo.url }
              %input{ :class => "features", :name => "feature_category_" + feature_category.id.to_s, :type => "radio", :id => "feature" + feature.id.to_s, :value=>"feature_" + feature.id.to_s, :checked => is_checked }

        ///////// Monogram section //////////// 
        -if feature_category.name == $MONOGRAM
          #monogramBlock
            %h3 Select location
            %ul
              - for monogram in @monogram_locations
                - is_checked = (feature_info["monogram_location"] == monogram.id.to_s)
                %li{:class => is_checked && "highlighted"}
                  %label{ :class => "confirm"} Selected
                  %label{ :for => "monogramLocation#{monogram.id}" }
                    %span
                      = monogram.name.capitalize
                    %img{ :src => monogram.photo.url}
                  %input{ :class => "monogramLocation", :name => "feature_category_monogram_location_" + feature_category.id.to_s, :type => "radio", :id => "monogramLocation" + monogram.id.to_s, :value=>"monogram_location_" + monogram.id.to_s, :checked => is_checked}
            .grid_8.alpha
              %h3 Your's monogram
              %input{ :id => "text_monogram", :type => "text", :name => "feature_category_text_monogram_" + feature_category.id.to_s, :value => (feature_info.key?("text") ? feature_info["text"] : "")}
            .grid_8.omega              
              %h3 Select thread color            
              %ul.monogram_thread.no_highlighted
                - for thread in @thread_colors
                  - is_checked = (feature_info["thread_color"] == thread.id.to_s)
                  %li{:class => is_checked && "highlighted"}
                    %label{ :for => "monogramThread#{thread.id}"}                 
                      %img{ :src => thread.photo.url}
                    %div{ :class => "confirm"}                                    
                    %input{ :class => "threadColor", :name => "feature_category_monogram_thread_" + feature_category.id.to_s, :type => "radio", :id => "monogramThread" + thread.id.to_s, :value=>"thread_color_" + thread.id.to_s, :checked => is_checked} 
                
        ///////// Button section ////////////                
        -if feature_category.name == $BUTTON
          %h3 Select buttons color        
          %ul.button_list.no_highlighted
            - for button in @button_colors      
              - is_checked = (feature_info["button_color"] == button.id.to_s)
              %li{:class => is_checked && "highlighted"}
                %label{ :for => "button#{button.id}" }
                  %img{:src => button.photo.url}       
                %div{ :class => "confirm"}                  
                %input{ :class => "buttonColor", :name => "feature_category_button_color" + feature_category.id.to_s, :type => "radio", :id => "button" + button.id.to_s, :value=>"button_color_" + button.id.to_s, :checked => is_checked}
          %h3 Select thread color
          %ul.button_thread.no_highlighted
            - for thread in @thread_colors  
              - is_checked = (feature_info["thread_color"] == thread.id.to_s)
              %li{:class => is_checked && "highlighted"}
                %label{ :for => "buttonThread#{thread.id}" }
                  %img{ :src => thread.photo.url}       
                %div{ :class => "confirm"}                                    
                %input{ :class => "threadColor", :name => "feature_category_thread_color" + feature_category.id.to_s, :type => "radio", :id => "buttonThread" + thread.id.to_s, :value=>"thread_color_" + thread.id.to_s, :checked => is_checked}             

          ///////// Contrast section ////////////                
        -if feature_category.name == $CONTRAST
          #contrastBlock
            %h3 Select contrast location          
            %ul
              - for contrast in @contrast_locations         
                - is_checked = (feature_info["contrast_location"] == contrast.id.to_s)
                %li{:class => is_checked && "highlighted"}
                  %label{ :class => "confirm"} Selected
                  %label{ :for => "contrastLocation#{contrast.id}" }
                    %span
                      = contrast.name.capitalize
                    / %img{ :src => contrast.photo.url}
                    = image_tag(contrast.photo(:thumb));
                  %input{ :class => "contrastLocation", :name => "feature_category_contrast_location_" + feature_category.id.to_s, :type => "radio", :id => "contrastLocation" + contrast.id.to_s, :value=>"contrast_location_" + contrast.id.to_s, :checked => is_checked}
            / - @feature_info = feature_info
            / = render :partial => "contrast_fabric.html.haml", :object => @feature_info
            %h3 Select contrast fabrics            
            %ul
              - for fabric in @fabrics                                                                                    
                - is_checked = (feature_info["fabric"] == fabric.id.to_s)
                %li{:class => is_checked && "highlighted"}
                  %label{ :class => "confirm"} Selected
                  %label{ :for => "fabric#{fabric.id}" }
                    %span
                      = fabric.name.capitalize
                    %img{ :src => fabric.photo.url(:thumb)}	
                  %input{ :name => "feature_category_fabric_" + feature_category.id.to_s, :type => "radio", :id => "fabric" + fabric.id.to_s, :value=> "fabric_#{fabric.id}", :checked => is_checked}
    %p
.clear    
:javascript
  $(function(){
    init_features();
  })