= stylesheet_link_tag "wizard", :media => "screen"
- form_remote_tag(:url=> {:controller => "wizard", :action => "get_fabrics"}, :update=>"choices") do
  = collection_select(:color, :name, @colors, :id, :name, {}, {:id => "colors_collection"})
  = collection_select(:style, :name, @styles, :id, :name, {}, {:id=> "styles_collection"})
  = hidden_field_tag(:page, @page)
  - if @fabric_saved
    = submit_tag 'cancel'
  - else
    = submit_tag 'show'

#choices
  - if @fabrics #check saved data
    = render :partial => "fabrics.html.haml", :object => @fabrics
:javascript
  $(function(){
    init_fabrics();
  })
  