<h1>Confirm Your Item</h1>
<div id="confirmation">
  <h4>Personal Details:</h4>
  <ul>
    <li><b>Email</b><span><%= "#{current_user.email}" %></span></li>
    <li><b>Name</b><span><%= "#{current_user.firstname} " %> <%= "#{current_user.lastname}" %></span></li>
  </ul>                                                                                                       

  <form id="confirm_form" action="/wizard/confirm" method="post">      
  <div class="section">
  <h4>Item Name:</h4>                        
  <%= text_field(:post, :order_name) %>
  </div>
  <h4>Item Detail:</h2>
  <ul>
    <li><b>Item</b><span>Shirt</span></li>
    <li><b>Quantity</b><span><%=@quantity%></span></li>    
    <%
      sum = 0
      total = session[:features_info].each do |feature_category_id, feature_info|
        # get_feature(feature_info)
        feature = get_feature(feature_info)    
        feature.each do |key, value|
            sum += value.price
        end
      end
    %>
    <li><b>Price</b><span>$<%= sum * @quantity.to_i %></span></li>
  </ul>
    <input type="hidden" name="order_completed" value="1" />
    <label for="submit">Confirm to complete your order</label>
    <input type="submit" name="submit" value="Add to cart" />
  </form>
</div> 

<script text="text/javascipt">
$(document).ready(function(){
  init_info();
})
</script>
