- path = "/wizard/choose_fabric"
%section#wizard_man
  %h3 Man formal shirt
  %p OUR TAILORED SHIRTS ARE MADE FROM THE FINEST EGYPTIAN AND ITALIAN COTTONS AND OUR LARGE FABRIC COLLECTION ALLOW YOU TO DESIGN SOMETHING THAT SUITS YOUR PERSONAL STYLE.
  .content_inner_left.alpha.grid_6.suffix_1
    %a{:href => "#{path}?cloth_type=shirt"}
      .wizard_shirt
      %h6 Customize a man shirt
  #wizard_trousers_wrapper.content_inner_left.alpha.grid_6
    %a{:href => "#{path}?cloth_type=trousers"}
      .wizard_trousers  
      %h6 Customize a man trousers      
  .content_inner_left.omega.grid_6.prefix_1
    %a{:href => "#{path}?cloth_type=jacket"}
      .wizard_suit
      %h6 Customize a man jacket      
  .clear                         
%section#wizard_woman
  %h3 Lady formal shirt
  %p OUR TAILORED SHIRTS ARE MADE FROM THE FINEST EGYPTIAN AND ITALIAN COTTONS AND OUR LARGE FABRIC COLLECTION ALLOW YOU TO DESIGN SOMETHING THAT SUITS YOUR PERSONAL STYLE.
  .content_inner_left.alpha.grid_6.suffix_1
    %a{:href => "#{path}?cloth_type=shirt"}
      .wizard_shirt               
      %h6 Customize a lady shirt                     
  #wizard_trousers_wrapper.content_inner_left.alpha.grid_6
    %a{:href => "#{path}?cloth_type=trousers"}
      .wizard_trousers   
      %h6 Customize a lady trousers
  .content_inner_left.omega.grid_6.prefix_1
    %a{:href => "#{path}?cloth_type=jacket"}
      .wizard_suit  
      %h6 Customize a lady jacket      
.clear           