<h1>Your order is completed</h1>
<h3>Personal Information</h3>
<table>
<tr>
  <td> Your Account: </td><td><%= "#{current_user.email}" %></td>
</tr>
<tr>
  <td> Order Name: </td><td><%= "#{current_user.firstname} " %> <%= "#{current_user.lastname}" %><td>
</tr>
<tr>
  <td>Address:</td>
  <td><%=h @address_book.address %></td>
</tr>
<tr>
  <td>City:</td>
  <td><%=h @address_book.city %></td>
</tr>
<tr>
  <td>Country:</td>
  <td><%=h @address_book.country %></td>
</tr>
<tr>
  <td>Postcode:</td>
  <td><%=h @address_book.postcode %></td>
</tr>
</table>    
<br />
<h3>Fabric Information</h3>
<table>
<tr>
<% fabric = Fabric.find(session[:fabric_info].to_i) %>                                           
<td><%= fabric.name %></td>
<td style="padding-left:20px;">
   <%= image_tag fabric.photo(:small_thumb) %>
</td>
</table>
<br />
<h3>Features Infomation</h3>
<% total_price = 0%>
<table id="features_summary">
<% session[:features_info].each do |feature_category_id,feature_id| %>
  <% category = get_category(feature_category_id) %>  
  <% features = get_feature(feature_id) %>   
  <tr><td><h4><%=category.name.capitalize%></h4></td></tr>
  <% features.each do |key, feature| %>
  <tr>
    <% if key != "text" %>
    <td valign="center" colspan="2" style="padding-left:20px;"><%= feature.name%></td>      
    <td><%= image_tag feature.photo(:small_thumb)%></td>    
    <td>$<%= feature.price %></td>
    <% total_price += feature.price.to_i %>
    <% else %>
    <td valign="center" colspan="2" style="height:50px; padding-left:20px;"><%= "monogram" %></td>
    <td><%= feature.name %></td>          
    <% end %>
  </tr>
  <% end %>
  <tr><td valign="center" colspan="3"><hr /></td></tr>
<% end %>
<tr>
  <td></td><td>Total:</td><td>$<%= total_price %></td>
</table>
<br />
<h3>Measurement Information</h3>
<table id="measurement_summary">       
<% session[:measurement_info].each do |key,value| %>
  <tr>
    <td><%= key.gsub("_", " ").capitalize %></td>
    <td><%= value %></td>
  </tr>
<% end %>
</table>