%h1 Payment
.content_inner_left.alpha.grid_9
  %h3 You can pay with these methods
  %ul 
    %li Bank Transfer
    %li Paypal
  %div
    %img{:src => '/images/main/bank.png'}
  %div
    %img{:src => '/images/main/guarantee.png'}    
.content_inner_right.grid_11.omega
  %h3 Free shipping from order value more than $100
  #free_shipping
    %img{:src => '/images/main/freeshipping.jpeg'}
  %ul#btn_set
    %li
      %a{:href => '/wizard'}
        %img{:src => '/images/main/btn-shopping.png'}
    %li
      %a{:href => '/cart'}
        %img{:src => '/images/main/btn-gotocart.png'}    
.clear        

