<%= stylesheet_link_tag "wizard", :media => "screen" %>
<!--Every field have to be filled and not allow nil-->

<div id="wizard_summary">
  <h1>Summary</h1>
  <div class="grid_9 alpha features">
    <h5>Features Infomation</h5>
    <% unit_price = 0%>
    <div id="feature_summary">
      <% session[:features_info].each do |feature_category_id, feature_info| %>
        <% category = get_category(feature_category_id) %>
        <% features = get_feature(feature_info) %>        
        <div class="category_head">
        <h2><%=category.name.capitalize%></h2>
        <ul class="feature_list">        
        <% features.each do |key, value| %>
          <li>
          <% if key == "feature" %>
            <div class="grid_7 alpha"><h6><%= value.name %></h6><p><%= value.price %> $</p></div>
            <div class="grid_2 omega"><%= image_tag(value.photo(:small_thumb))%></div>
            <% unit_price += value.price.to_i %>             
          <% elsif key == "text" %>            
            <div class="grid_7 alpha"><h6><%= "monogram" %></h6></div>
            <div class="grid_2 omega"><p><%= value.name %></p></div>            
          <% else %>
            <div class="grid_7 alpha"><h6><%= value.name %></h6><p><%= value.price %> $</p></div>
            <div class="grid_2 omega"><%= image_tag(value.photo(:small_thumb))%></div>
            <% unit_price += value.price.to_i %>                         
          <% end %>
          <div class="clear"></div>
          </li>
        <% end %>
        </ul>
        </div>
      <% end %>
    </div>
  </div>

  <div class="grid_9 omega prefix_2" style="margin-bottom:30px;">
    <h5>Fabric Information</h5>
    <% fabric = Fabric.find(session[:fabric_info].to_i) %>
    <%= image_tag fabric.photo.url(:small_thumb) %>
    <span><%= fabric.name %></span>
    <br /><br />
    <h5>Measurement Information</h5>
    <table id="measurement_summary">
    <% session[:measurement_info].each do |key,value| %>
      <tr>
        <td><%= key.gsub("_", " ").capitalize %></td>
        <td><%= value %></td>
      </tr>
    <% end %>
    </table>
    <div class="quantity">
      <h5>Order Quantity</h5>
      <div class="grid_3 alpha"><h6>Quantity</h6><p></div>
      <div class="grid_9 omega"><input id="quantity" name="quantity" min="1" max="100" style="width:200px;" value="<%= @quantity %>"/></div>
    </div>
    <div class="summary">
      <div class="grid_7 alpha"><h6>Unit:</h6></div>
      <div class="grid_2 omega">$<span id="unit_price"><%= unit_price %></span></div>
      <div class="grid_7 alpha"><h6>Total: Unit x <span id="inline_quantity"><%=@quantity%></span></h6></div>
      <div class="grid_2 omega">$<span id="total_price"><%= unit_price * @quantity.to_i %></span></div>
    </div>
    <div class="clear"></div>
  </div>
  <p class="next_step" style="text-align: center">
    <a href="#" onclick="save_summary(); return false;">Proceed to Order</a>
  </p>
</div>

<span class="clear">&nbsp;</span>
<script text="text/javascipt">
$(document).ready(function(){
  init_quantity("<%=unit_price%>");
})
</script>