- semantic_form_for (feature, :html => {:multipart => true}) do |form|
	- form.inputs do
		= form.input :name
		= form.input :translate
		= form.input :gender, :as => :select, :collection => ["Male", "Female"]
		= form.input :cloth_type, :as => :select, :collection => get_cloth_type
		= form.input :feature_category
		= form.input :photo, :as => :file
		= form.input :price
		- if feature.id
			%label.current_image Current Image
			%div.current_image= image_tag feature.photo.url(:thumb)

	= form.buttons