- semantic_form_for(@location, :html => {:multipart => true}) do |form|
  - form.inputs do
    = form.input :name 
    = form.input :type, :as => :select, :collection => ["MonogramLocation", "ContrastLocation"]
    = form.input :photo, :as => :file
    - if location.id
      %label.current_image Current Image
      %div.current_image= image_tag location.photo.url(:thumb)
    = form.buttons