- content_tag_for :div, location do
  %ul
    %li
      %strong Name:
      =h location.name
    %li
      %strong Photo file name:
      =h location.photo_file_name
    %li
      %strong Photo file size:
      =h location.photo_file_size
    %li
      %strong Photo file type:
      =h location.photo_file_type
    %li
      %strong Photo
      = image_tag location.photo.url
      
      = link_to 'Show', :controller => "locations", :action => "show", :id => location
      = link_to 'Edit', edit_location_path(location)
      = link_to 'Destroy', {:action => "destroy", :id => location}, :confirm => 'Are you sure?', :method => "delete"