%h2 Editing location            
= render :partial => "form", :locals => {:location => @location}
%ul
  %li= link_to 'Show', :controller => "locations", :action => "show", :id => @location
  %li= link_to 'Destroy', {:action => "destroy", :id => @location}, :confirm => 'Are you sure?', :method => "delete"