%h2 Listing locations
- if !@locations.empty?
  .locations
    = render :partial => "location", :collection => @locations
  = will_paginate(@locations)
- else
  %p There are no locations to show yet.
= link_to 'New location', new_location_path