%h2= "Location \"#{@location.to_param}\""
- content_tag_for :div, @location do
  %ul
    %li
      %strong Name:
      =h @location.name
    %li
      %strong Photo file name:
      =h @location.photo_file_name
    %li
      %strong Photo file size:
      =h @location.photo_file_size
    %li
      %strong Photo file type:
      =h @location.photo_file_type
    %li
      %strong Location:
      =h @location.location_id
      %strong Photo:
      =image_tag @location.photo.url
%ul
  %li= link_to 'Edit', edit_location_path(@location)
  %li= link_to 'Back', locations_path