!!! XML
!!!
%html{ :'xml:lang' => "en", :lang => "en" }
  %head
    %title= "#{controller.class.to_s}: #{controller.action_name}"
    %meta{ :"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8" }
    %link{ :rel => "shortcut icon", :href => "/favicon.ico" }
    = stylesheet_link_tag "application", :media => "screen"
    = javascript_include_tag :defaults
  %body
    #wrapper
      #menu
        %h1 Peter Fashion
        %ul.main
          %li.heading Content Management
          %li= link_to "Feature Category", :controller => "feature_categories", :action=> "index"
          %li= link_to "Features",  :controller => "features", :action=> "index"
          %li= link_to "Colors", :controller => "colors", :action=> "index"
          %li= link_to "Styles",  :controller => "styles", :action=> "indevx"
          %li= link_to "Fabrics",  :controller => "fabrics", :action=> "index"
        %ul.sub
          %li.heading Actions
          =yield :sub_menu
      #content
        
        #flash
          - unless flash.empty?
            = content_tag :div, flash[:notice],  :class => "notice"  if flash[:notice]
            = content_tag :div, flash[:warning], :class => "warning" if flash[:warning]
            = content_tag :div, flash[:error],   :class => "error"   if flash[:error]
          :javascript
            #{visual_effect :highlight, "flash"}
        = yield
      %span.clear &nbsp;
