- measurement_fields = [:length, :chest, :waist, :hips, :front_piece, :shoulders, :sleeves, :short_sleeves, :back_piece, :armhole, :bicep, :cuff, :neck, :vest, :upper_hip]
%p
  = f.label :"name of the person who has the measurement below"
  = f.text_field :name, :class => "required"
- measurement_fields.each do |field|
  %p
    = f.label field
    </br>
    = f.text_field field, :class => "required number"