%html
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-type" }
    %title
      Create a Shirt Prototype
    %link{ :href => "/stylesheets/wizard.css", :rel => "stylesheet", :type => "text/css", :media => "all" }
    =javascript_include_tag :defaults
    %script{ :language => "javascript", :src => "/javascripts/FormToWizard/formToWizard.js", :type => "text/javascript", :charset => "utf-8" }
    %script{ :language => "javascript", :type => "text/javascript", :charset => "utf-8" }
      $(document).ready(
      function() {
      $("#CreateForm").formToWizard({ submitButton: "CreateShirt" });
      
      $("input").change(function(){
      $(this).parents("fieldset").find(".highlighted").removeClass("highlighted");
      $(this).parent().addClass("highlighted");
      });
      });
  %body
    #container
      = yield
  %ul
    %li= link_to "Fabrics",  :controller => "wizard", :action => 'choose_fabric'
    %li= link_to "Features", :controller => "wizard", :action=>"choose_feature"
    %li= link_to "Measurement", :controller => "wizard", :action=>"choose_measurement"
    %li= link_to "Summary", :controller => "wizard", :action=>"summary"
    %li= link_to "My account", :controller => "account", :action=>"index"
    %br
    %li= link_to "Sign in", new_user_session_path
    %li= link_to "Sign up", new_user_registration_path


    %br
    -#= "feature_session =#{session[:features_info]}"
    %br
    -#= "measurement_session =#{session[:measurement_info]}"
    %br
    -#= "fabric_session =#{session[:fabric_info]}"
