<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Account: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>
<%= link_to "My Order List",  :controller => "account", :action=>"order" %> |
<%= link_to "My Address Book",  :controller => "account", :action=>"address" %> |
<%= link_to "My Measurement",  :controller => "account", :action=>"measurement" %> |
<%= link_to "Account Setting", edit_user_registration_path %> 

<p style="color: green"><%= notice %></p>

<%= yield %>

<!--<%= "measurement_session =#{session[:measurement_info]}"%> -->
<br>
<br>
<%= link_to "Sign out", destroy_user_session_path %>| signed in as <b><%= "#{current_user.email}" %></b> 
</body>
</html>

 



