%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    
    = stylesheet_link_tag "reset", :media => "screen"
    = stylesheet_link_tag "960", :media => "screen"       
    = stylesheet_link_tag "text", :media => "screen"
    = stylesheet_link_tag "style", :media => "screen"   
    - if account_page
      = stylesheet_link_tag "account", :media => "screen"
      /= stylesheet_link_tag "scaffold", :media => "screen"      
    = javascript_include_tag :defaults
    = javascript_include_tag("validate")
    - if (params[:controller] == "wizard")
      = stylesheet_link_tag "1200", :media => "screen"
      = stylesheet_link_tag "wizard", :media => "screen"
      %script{ :language => "javascript", :src => "/javascripts/FormToWizard/formToWizard.js", :type => "text/javascript", :charset => "utf-8" }
    = javascript_include_tag("wizard")
    %title TailorMaker
  %body  
    #content_wrapper
      #content.container_24
        #top_logo{:class => ['prefix_1', 'grid_10']}
          %img{:src => "/images/main/logo-top.png"}
        #top_navigator{:class =>['prefix_1', 'grid_11', 'suffix_1']}
          #logged_in
            %p
              - if current_user
                %a{:href=>"#"}=current_user.name + " | "
                %a{:href=>"/users/sign_out"} logout
              - else
                %a{:href=>"/users/sign_in"}="login | "
                %a{:href=>"/users/sign_up"}="register"
          %ul.top_nav_list
            - if current_user
              / %li= link_to "Cart", "/account/order"
              %li= link_to "Account", "/account"
            %li= link_to "Contact", "/contact"
            %li= link_to "About", "/about"
            %li= link_to "Shopping", "/shopping"
            %li= link_to "Home", "/"            
        #content_inner{:class => ['prefix_1', 'grid_22', 'suffix_1']}
          #content_plain
            - if params[:controller] == "wizard" && (params[:action] != 'index')
              %ul#guide               
                %li#fabric{:class=>"#{'active' if (params[:action] == 'choose_fabric')}"}
                  %a{:href=>"/wizard/choose_fabric"} Fabrics
                  %em 1                                               
                %li#feature{:class=>"#{'active' if (params[:action] == 'choose_feature')  }"}
                  %a{:href=>"/wizard/choose_feature"} Feature
                  %em 2
                %li#measurement{:class=>"#{'active' if (params[:action] == 'choose_measurement')}"}
                  %a{:href=>"/wizard/choose_measurement"} Measurement
                  %em 3
                %li#summary{:class=>"#{'active' if (params[:action] == 'summary')}"}
                  - if params[:action] == "choose_measurement"
                    %a{:href=>"#", :onclick => "save_measurement(); return false;"} Summary
                  - else
                    %a{:href=>"/wizard/summary"} Summary      
                  %em 4
                %li#confirm{:class=>"#{'active' if (['confirm'].include? params[:action])}"}
                  %a{:href=>"/wizard/confirm"} Confirm
                  %em 5
                .clear
            - if account_page && current_user
              %ul#account_nav
                %li= link_to "My Account", :controller => "account"
                %li= link_to "My Cart", :controller => "cart"                
                %li= link_to "My Order", :controller => "account", :action => "show_order"
                %li= link_to "My Address", :controller => "address_books"
                %li= link_to "My Measurement", :controller => "measurements"
            =yield
    - if params[:controller] != "wizard"
      #btn_to_wizard.container_24
        - btn_wizard_array = [{'shirt' => "Men's Shirt"}, {'trousers' => "Women's Shirt"}, {'suit' => "Jacket"}]
        %ul.btn_wizard_list
          - btn_wizard_array.each do |hash|
            %li{:class => ['grid_8', hash.keys.first == 'shirt' && 'ignore_left_margin', hash.keys.first == 'suit' && 'ignore_right_margin']}
              %a{:href => "/wizard/choose_fabric?cloth_type=#{hash.keys.first}"}
                %img{:id => hash.keys.first, :src => "/images/main/#{hash.keys.first}.png"}
                .create_shirt_text{:class => "text_#{hash.keys.first}"}
                  %h2 #{hash.values.first}
                  %p You design it.                             
    .clear
    #footer
      #footer_inner.container_24
        %ul{:class => ['footer_navigator', 'grid_8']}
          %li Customer serviced
          %li Support
        .bottom_contact_info.prefix_3.grid_13
          %ul.contact_info_list
            / %li
            /   %img{:src => '../images/main/icon-phone.png'}
            /   %span Tel: (+662)318-2650-1    
            %li
              %img{:src => '/images/main/icon-mail.png'}
              %span Email: peter.srikuruwarn@tailormaker.com  
        .bottom_line.grid_24
        #bottom_logo{:class => ['grid_6']}
          %img{:src => '/images/main/logo-bottom.png'}
        #copyright{:class => ['prefix_5', 'grid_13']}
          %span Copyright © 2010-2011 Tailormaker. All screenshots © their respective owners.