<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="/stylesheets/print.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body>
  <%= yield %>
</body>
</html>