%ul.top_nav_list
  %li= link_to "Home", :controller => "feature_categories", :action=> "index"
  %li= link_to "Shopping",  :controller => "features", :action=> "index"
  %li= link_to "Colors", :controller => "colors", :action=> "index"
  %li= link_to "Styles",  :controller => "styles", :action=> "index"
  %li= link_to "Fabrics",  :controller => "fabrics", :action=> "index"
